<h1 id="name">Welcome to my personal Website!</h1>
<br />
<br />
<br />
<br />
<div class="d-flex">
  <ul
    ngbNav
    #nav="ngbNav"
    [(activeId)]="active"
    class="nav-pills"
    orientation="vertical"
  >
    <li ngbNavItem="top">
      <a ngbNavLink>Resume</a>
      <ng-template ngbNavContent>
        <div>
          <!-- <a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="activeResume = true">Click me</a> -->
          <app-resume></app-resume>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="middle">
      <a ngbNavLink>Midterm Project</a>
      <ng-template ngbNavContent class="schema">
        <p>For my Midterm Project at Skill Distillery I was on a team with 3 other people. We created a website where one can create journal entries for beverages they have tried, specifically beer, wine and liquor. <br>
        <br>
        We created the web application using JSPs. On the backend we used Java, JPQL, Spring, and JPA. On this project I was the DBA and I created it using MySQL workbench.
      <img class="schema" src="https://i.imgur.com/yBwPzs5.png" alt="Database SchemaDesign">

    <br>
    <strong>Link to application:</strong> <a href="http://sip.laurenackley.dev">http://sip.laurenackley.dev</a>
    <br>
    <strong>GitHub:</strong> <a href="https://github.com/laurenackley/MidtermProjectLauren"> https://github.com/laurenackley/MidtermProjectLauren </a>
  </p>
      </ng-template>
    </li>
    <li ngbNavItem="bottom">
      <a ngbNavLink>Final Project</a>
      <ng-template ngbNavContent>
        <p>
          For my Final Project at Skill Distillery I was on a team with 3 other people and we made a Asynchronous JavaScript and XML application called Skill Swap. It is an app meant for people to be able to post the DIY projects that they want to do but need help with connect to those who can help.
          <br>
          On this application we used Angular, TypeScript, Bootstrap, HTML, and CSS for the front-end. On the back-end we used Java, Springboot, JPA, and Postman to test the end points.
          <br>
          On this application we added encrypted passwords using Spring Security and saved it as a string so the password is saved raw and able to be viewed form the terminal.
          <br>
          What I really enjoyed about this project was that we used a lot of bootstrap to really make the application pop, in my opinion.
          <strong>Link to Application:</strong>
<strong>GitHub:</strong><a href="https://github.com/laurenackley/FinalProjectLauren/blob/main/README.md">https://github.com/laurenackley/FinalProjectLauren/blob/main/README.md</a>
</p>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
<router-outlet></router-outlet>
<pre>Active: {{ active }}</pre>
<div>
  <ngb-carousel class="carouselImages" *ngIf="images">
    <ng-template ngbSlide>
      <div class="pictures">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="pictures">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="pictures">
        <img [src]="images[2]" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="pictures">
        <img src="https://i.imgur.com/jmYBRjQ.jpg" alt="Random fourth slide" />
      </div>
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
