<h1 id="name">Welcome to my personal Website!</h1>
<br>
<br>
<br>
<br>
<div class="d-flex">
	<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
		<li ngbNavItem="top">
			<a ngbNavLink>Resume</a>
			<ng-template ngbNavContent>
				<div>
			<!-- <a routerLink="/resume" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="activeResume = true">Click me</a> -->
        <app-resume></app-resume>
      </div>
			</ng-template>
		</li>
		<li ngbNavItem="middle">
			<a ngbNavLink>Middle</a>
			<ng-template ngbNavContent>
				<p>
					Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
					farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
					ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
					helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
					8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
					stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
				</p>
			</ng-template>
		</li>
		<li ngbNavItem="bottom">
			<a ngbNavLink>Bottom</a>
			<ng-template ngbNavContent>
				<p>
					Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
					facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
					congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices
					et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus
					faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci
					varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem
					aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.
				</p>
			</ng-template>
		</li>
	</ul>

	<div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>
<router-outlet></router-outlet>
<pre>Active: {{ active }}</pre>
<div>

  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="pictures">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="pictures">
        <img [src]="images[1]" alt="Random second slide" />
      </div>
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="pictures">
        <img [src]="images[2]" alt="Random third slide" />
      </div>
      <div class="carousel-caption">
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="pictures">
        <img  src="https://i.imgur.com/jmYBRjQ.jpg" alt="Random fourth slide" />
      </div>
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div>

