@import "~bootstrap/dist/css/bootstrap.css";
.heading{
  text-align: center;
}
#skills{
  columns: 2;
  column-gap: 45px;
}
#company{
  text-align: right;
}
#contact{
  /* display: flex; */
  justify-content: space-around;
  align-items: stretch;
}
.pictures{
  justify-content: center;
  height: 500px;
  width: 750px;
}
