<h3 class="heading">Lauren Ackley</h3>
<hr />
<h5 class="heading">Seeking Hybrid or Remote Junior Developer Position</h5>
<hr />
<span id="contact">
lackley127@gmail.com | (210)-844-0206 | laurenackley.dev | San Antonio,TX
</span>
<br />
<h6>
  <strong>Education:</strong>
</h6>
<strong> Skill Distillery </strong>
<br />
February 2023 Certificate, Java Full-Stack Programming<br />
<strong> San Antonio College </strong>
<br />
August 2014 - May 2016 Associates of Liberal Arts, Associates of Biology
<h6>
  <hr>
  <strong> Technologies: </strong>
</h6>
<ul id="skills">
  <li>Backend Languages: Java</li>
  <li>Web: Angular, JavaScript, TypeScript, HTML, CSS, Bootstrap</li>
  <li>Database: MySQL, JPQL</li>
  <li>Development Methodologies: TDD, Agile, Scrum</li>
  <li>Backend Frameworks: Springboot, JPA, JDBC</li>
  <li>Version Control: Git</li>
</ul>
<hr />
<h6>
  <strong>Experience:</strong>
</h6>
<strong>October 2022 - February 2023</strong>
<span style="float:right"><strong><em>
  Skill Distillery Java Full-Stack Bootcamp
  Graduate 1st in Class
</em></strong>
</span>
<br>
<ul>

    <li>
      Designed and developed full stack applications with Java, Spring Boot, MySQL, Angular.
    </li>
    <li>
      Created RESTful APIs with Springboot.
    </li>
    <li>
      Implemented Spring Data JPA Repositories.
    </li>
  <li>
    Designed and implemented front end interfaces with HTML, CSS, Java/Type Script, Angular, and Bootstrap.
  </li>
  <li>
    Designed and deployed MySQL databases.
  </li>
  <li>
    Practiced Agile/Kanban methodology with one week sprints.
  </li>
  <li>
    Deployed applications to AWS via self configured EC2 instances.
  </li>
  <li>
    Applied Test Driven Development with JUnit.
  </li>
  <li>
    All work performed remotely using GitHub, Zoom, Slack, Trello.
  </li>
</ul>
<br>
<br>
<strong>February 2022 to October 2022</strong>
<span style="float:right"><strong><em>
  Catapult Staffing Solutions</em></strong>
</span>
Catapult Staffing Solutions
<br>
Technical Support Specialist
<br>
<ul>
  <li>
    Provided technical assistance to Medicare providers/suppliers.
  </li>
  <li>
    Provided support for system related issues and questions.
  </li>
</ul>
<strong>August 2021 to January 2022</strong>
<span style="float:right"><strong><em>
  PNC</em></strong>
</span>
<br>
Technical Support Specialist
<ul>
  <li>
    Performed technical support on a broad range of products, services, and problem resolution.
  </li>
  <li>
    Maintained a knowledge database of problem resolutions.
  </li>
</ul>
<strong>February 2020 to August 2021</strong>
<span style="float:right"><strong><em>
  Ibex.</em></strong>
</span>
 Technical Support Specialist
 <ul>
  <li>
    Provided technical support for an ISP.
  </li>
  <li>
    Researched and isolated technical issues and provided resolutions.
  </li>
</ul>
